@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

.cont{ 
    text-align: center; 
    font-family: Arial, sans-serif;  
    background: url(../img/fondo_index.png);
    background-size: cover;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
    
} 
#logo {
     width: 200px; /* Ajustas el tamaño según sea necesario */ 
    transform: rotate(360deg); /* Rota la imagen */ 
    margin-bottom: 60px; 
    margin-top: 250px;
    animation: rotate 5s linear infinite;
    
} 
h2 { 
    font-size: 22px; /* Tamaño de texto adaptable */ 
    padding: 20px;
    margin: 30px 60px; 
    color: #fff;

} 
a { 
    display: inline-block; 
    padding: 15px 40px; 
    background:#ff6c02; 
    color: white; 
    border: 1px solid #b95e1d;
    text-decoration: none; 
    border-radius: 5px;
    box-shadow: 5px 5px #8080804f; 
} 


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.bienvenido {
    font-size: 20PX; /* Utilizar vw para hacer el texto responsivo */
    font-weight: 700;
    overflow: hidden; /* Para el efecto de escritura */
    white-space: nowrap; /* Para evitar saltos de línea 
    position: relative;*/
}

.letra {
    color: #fff;
    opacity: 0; /* Inicialmente oculto */
    animation: aparecer 0.5s forwards; /* Animación para aparecer */
    animation-delay: calc(0.1s * var(--i)); /* Retraso individual para cada letra */
}

.letra1 {
    color: #000000;
    
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.imagen {
    display: none; /* Inicialmente oculta */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: mostrarImagen 2s forwards; /* Animación para mostrar la imagen */
}

.desaparecer {
    animation: desaparecer 0.5s forwards;
    animation-delay: calc(0.1s * var(--i));
}

.header {
    position: absolute;
    top: 20%; /* Ajuste relativo al viewport */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 5vw; /* Utilizar vw para hacer el texto responsivo */
}

.header div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 200;
}

.header div span {
    color: #5379fa !important;
}

.login {
    position: absolute;
    top: 50%; /* Ajuste relativo al viewport */
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80vw; /* Ajuste relativo al viewport */
    max-width: 350px;
    padding: 10px;
    z-index: 2;
}

.login input[type=text],
.login input[type=password] {
    width: 100%; /* Ajuste relativo al contenedor */
    height: 5vw; /* Ajuste relativo al viewport */
    max-height: 30px;
    background-color: #0c103bb0;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 4vh; /* Ajuste relativo al viewport */
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button] {
    width: 100%; /* Ajuste relativo al contenedor */
    height: 7vw; /* Ajuste relativo al viewport */
    max-height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 4vh; /* Ajuste relativo al viewport */
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=text]:focus,
.login input[type=password]:focus,
.login input[type=button]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes mostrarImagen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Estilos específicos para diferentes resoluciones de pantalla */
@media (max-width: 450px) {
    .imagen {
        background-image: url('https://c.pxhere.com/photos/03/dc/star_night_tree_silhouette_motion-503365.jpg!d');
    }
}

@media (min-width: 451px) {
    .imagen {
        background-image: url('https://get.pxhere.com/photo/wood-texture-compass-paper-map-world-sculpture-art-background-sketch-drawing-creativity-carving-information-mythology-ancient-history-1291080.jpg');
    }
}